body{
    max-width: 1440px;
    margin: 0 auto;
}
#BGimg{
    background-image: url(../images/first.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

#header{
    margin-left: 188px;
    margin-right: 170px;
    position: sticky;
    margin-top: 60px;
}
header>nav{
    display: flex;
    gap: 73px;  
    justify-self: end;
    font-size: 18px;
}
header>nav>a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s linear ;
}
header>nav>a:hover{
    color: #0D7F8B;
}