body{
background-color: #fff;
max-width: 1920px;
height: 3472px;
}
body, *{
    font-family: 'Noto Sans', serif;
}
header{
    font-size: 24px;
    max-width: 1300px;
    width: 1921px;
    height: 103px;
    border-bottom: 0;
}
#wrapped{
    margin: 27px 0 27px 202px;
    display: flex;
    justify-content: space-between; /*выравнивание по горизонтали*/
    align-items: flex-end; /* выравнивание по поперечной оси*/
}
#linkes ul{
    display: flex;
    letter-spacing: 3px;
}
#linkes ul li{
    margin: 0 20px;
}
/* #wrapper{

    min-width: 1920px;
    width: 1920px;

} */
#linkes ul li a{
    color: #0A0A0A;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s linear;
}
#linkes ul li:last-child{
    margin-right: 914px;
}
#linkes ul li a:hover{
    border-bottom: 2px solid #000;
}
#img ul{
    display: flex;
}
#img ul li{
    margin: 0 20px;
}

#str{
    background-color: black;
    height: 40px;
    background-position: center;
}
#str img{
    animation: anim 13s linear infinite;
}
@keyframes anim{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(300px);
    }
}
#first-frame ul{
    display: flex;
}
#first-frame{
    float: right;
    background: #0A0A0A;
}
#first-frame ul li img{
    opacity: 68%;
}
#first-frame ul li:first-child{
    margin-right: -480px;
}
#second-frame{
    float: left;
}




#flex-box{
    flex-direction: row;
    display: flex;
    padding-top: 959px;
}
#frame-nine{
    margin-top: 35px;
    margin-left: 35px;
    max-width: 728px;
    min-width: 728px;
}
#frame-nine p{
    font-size: 24px;
}
#frame-nine button{
    font-size: 20px;
    width: 240px;
    height: 55px;
    margin-top: 40px;
    background: black;
    color: white;
    border-radius: 3px;
    transition: 0.5s linear;
}
#frame-nine button:hover{
    background: white;
    color: black;
}

#second-flex-box{
    flex-direction: row-reverse;
    display: flex;
    margin-right: 197px;
}
#group-eight p{
    margin-top: 36px;
    margin-right: 175px;
    font-size: 24px;
    margin-bottom: 40px;
}
#group-eight button{
    font-size: 20px;
    background: #000;
    color: white;
    width: 240px;
    height: 55px;
    transition: 0.5s linear;

}
#group-eight button:hover{
    background: white;
    color: black;
}