#container{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
}



#airplane{
    width: 20px;
    height: 30px;
    background: #000;
    display: flex;
    align-self: end;
}
#bulit{
    width: 10px;
    height: 10px;
    background: #000;
    transform: rotate(45deg);
    display: flex;
    align-self: end;
    animation: gun 1s infinite;
}
@keyframes gun {
    0%{
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px);
        opacity: 1;
    }
}
#enemy{
    width: 100px;
    height: 100px;
    background: #f00;
    align-self: start;
    
}